*{
    margin: 0;
    padding: 0;
}


.hero-image .about-me {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
}

.hero-image .about-me label {
    font-size: 50px;
    color: #fff;
    display: block;
}
.hero-image:after {
    background-color: black;
    content: '';
     position: absolute; 
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0.3;
}

.hero-image {
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    background-image: url(https://desk-fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/02/04/ChMkJld029-IErSaABboMHkiVjoAATGeQNO1YUAFuhI344.jpg);
    display: table;
      background-position: center;
}

.hero-image .about-me a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid white;
    margin: 20px;
}

.nav ol{
    width: 500px;
    display: flex;
    float: right;
    justify-content: space-between;
}
.nav ol li{
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.nav ol li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #194747;
    transform: translate(-100%);
    transition: all 0.4s;
}
.nav ol li:hover::before{
    transform: translate(0%);
}
.nav ol li a{
    color: rgb(6, 2, 2);
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    transition: all 0.4s;
}

.nav ol li:hover a{
    color: #8b84c9;
}

body{background-color: gray;
    background-image: url(https://desk-fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/02/04/ChMkJld029-IErSaABboMHkiVjoAATGeQNO1YUAFuhI344.jpg);}
    @import "compass/css3";

 article {
	 max-width: 700px;
     margin-left: 20em;
    padding: 10%;
	 font: normal 17px Georgia, serif;
	 color: rgb(13, 13, 13);
     display: block;
    
}
 article p {
	 margin-bottom: 18px;
 }
    
     

 article p:first-of-type {
	 text-align: center;
	 margin-bottom: 60px;
}
 article:before, article:after {
	 content: "";
	 display: inline-block;
	 position: fixed;
	 height: 90px;
	 width: 600px;
	 top: 0;
	 pointer-events: none;
}
 article:after {
	 top: auto;
	 bottom: 0;
}
 